@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-Nunito;
  }
}

.input-bg {
  background-image: url("./images/search.svg");
  background-repeat: no-repeat;
  background-position: 0.938rem;
  padding-left: 3.125rem;
}
